body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.center-items {
    place-content: center;
    place-items: center;
}

.gap {
    gap: 1rem;
}

button {
    cursor: pointer;
    transition: 250ms;
    font-weight: bold;
}

button:hover {
    filter: brightness(150%);
}

header {
    display: flex;
    place-content: space-between;
    place-items: center;
    width: 80%;
}

header .icons {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 2.5rem;
}

header .search-icon,
header .basket-icon {
    background-image: url("./assets/search_icon.png");
    background-position: center;
    background-size: cover;
    width: 2rem;
    aspect-ratio: 1;
}

header .basket-icon {
    background-image: url(./assets/basket_icon.png);
}

header .icons button {
    border-radius: 2rem;
    background-color: white;
    padding: 1rem 1.5rem;
}

header .links {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 2rem;
}

header h1 {
    color: #ff2600;
    font-size: 2.6rem;
}

header li {
    list-style-type: none;
}

header .line {
    width: 0;
    height: 3px;
    background-color: red;
    transition: 250ms;
}

header li:hover .line {
    width: 100%;
}

header a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.hero-section {
    background-image: url("./assets/header_img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
    padding: 4rem;
    border-radius: 1rem;
    color: white;
}

.hero-section h1 {
    font-size: 3.5rem;
}

.hero-section .view-menu-btn {
    background-color: #EEE;
    color: #222;
    border-radius: 2rem;
    padding: 1rem 2rem;
}

.hero-section p {
    width: 30rem;
}

.explore-menu {
    width: 80%;

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 1rem;
}

.explore-menu p {
    width: 60%;
    place-self: start;
    color: #555;
}

.explore-menu h2 {
    place-self: start;
    font-size: 2rem;
    color: #333;
}

.explore-menu div {
    border-radius: 100%;
}

.explore-menu img {
    border-radius: 100%;
    transition: 50ms;
    border: 0 solid #ff2600;
}

.explore-menu img:hover {
    border: 3px solid #ff2600;
}

.explore-menu section {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}

.explore-menu main {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 2rem;
    color: #555;
}

.main-menu {
    width: 80%;
}

.main-menu main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-content: center;
    place-items: center;
    gap: 2rem;
}

.dish {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 1rem;
    box-shadow: 5px 5px 5px #AAA;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: 500ms;
}

.dish:hover {
    transform: scale(1.04);
}

.dish .img {
    position: relative;
}

.dish .img img {
    width: 18rem;
    height: 16rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.main-menu .dish .add {
    padding: 0.5rem;
    font-size: 0.8rem;
    background-image: url("./assets/add_icon_white.png");
    background-position: center;
    background-size: cover;
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 100%;
    position: absolute;
    bottom: 5%;
    right: 5%;
    transition: 250ms;
}

.main-menu .dish .add:hover {
    transform: scale(1.07);
}

.dish .price {
    color: #ff2600;
    font-size: 1.6rem;
    font-weight: bold;
}

.dish main {
    display: flex;
    flex-direction: column;
    place-items: start;
    gap: 1rem;
    padding-bottom: 2rem;

}

.dish main p {
    margin: 0;
    padding: 0;
}

.dish .dish-info {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 1rem;
}

.advertisement-section h2 {
    font-size: 3rem;
    text-align: center;
}

/* .advertisement-section .icon-container {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 1rem;
    background-color: black;
    border-radius: 1rem;
    color: white;
    padding: 5px 1rem;
} */

.advertisement-section section {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 4rem;
}

.advertisement-section section div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15rem;
    height: 5rem;
}

.advertisement-section section :first-child {
    background-image: url(./assets/app_store.png);
}

.advertisement-section section :last-child {
    background-image: url(./assets/play_store.png);
}

footer {
    background-color: #222;
    color: white;

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 5rem;
    margin-top: 5rem;
}

footer h2 {
    color: orangered;
    font-size: 2.8rem;
}

footer main {
    display: flex;
    place-content: center;
    place-items: start;
    gap: 2rem;
    padding: 4rem 0 0 0;
}

footer main .icons-container {
    display: flex;
    place-content: start;
    gap: 1rem;
}

footer main .icons-container .icon {
    background-position: center;
    background-size: cover;
    width: 3rem;
    aspect-ratio: 1;
}

footer main .icons-container img {
    border-radius: 100%;
    width: 3rem;
    aspect-ratio: 1;
}

footer main>section:not(:first-child) {
    width: 20%;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer main section:last-child {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

footer main>section:first-child {
    width: 35%;
}

footer section li {
    list-style-type: none;
}

footer section a {
    text-decoration: none;
    color: white;
}

footer h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

footer .line {
    width: 100%;
    background-color: white;
    height: 1px;
}

footer>section {
    width: 80%;

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}

form {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 1rem;

    box-shadow: 5px 5px 5px #333;
}

form button {
    background-color: inherit;
    border: none;
}

form input {
    border-radius: 5px;
    padding: 10px;
    width: 80%;
}

.submit-button {
    border-radius: 1rem;

    width: 90%;
    padding: 1rem;
    color: white;
    background-color: #ff7300;
    font-weight: bold;
}

form div {
    display: flex;
    place-content: start;
    place-items: start;
    gap: 1rem;
    width: 90%;
}

form input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

form section button {
    color: #ff2600;
    font-size: 1.1rem;
    font-weight: bold;
}