body {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
}

.app {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}

.center-items {
    place-content: center;
    place-items: center;
}

.gap {
    gap: 1rem;
}

button {
    cursor: pointer;
    transition: 250ms;
    font-weight: bold;
}

button:hover {
    filter: brightness(150%);
}

header {
    display: flex;
    place-content: space-between;
    place-items: center;
    width: 80%;
}

header .icons {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 2.5rem;
}

header .search-icon,
header .basket-icon {
    background-image: url("./assets/1/search_icon.png");
    background-position: center;
    background-size: cover;
    background-position: no-repeat;
    width: 2rem;
    aspect-ratio: 1;
    cursor: pointer;
}

header .basket-icon {
    background-image: url(./assets/1/basket_icon.png);
}

header .icons button {
    border-radius: 2rem;
    background-color: white;
    padding: 1rem 1.5rem;
}

header .icons button:hover {
    background-color: #ff2600;
    color: white;
}

header .links {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 2rem;
}

header h1 {
    color: #ff2600;
    font-size: 2.6rem;
}

header li {
    list-style-type: none;
}

header .line {
    width: 0;
    height: 3px;
    background-color: red;
    transition: 250ms;
}

header li:hover .line {
    width: 100%;
}

header a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.hero-section {
    background-image: url("./assets/1/header_img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
    padding: 4rem;
    border-radius: 1rem;
    color: white;
}

.hero-section h1 {
    font-size: 3.5rem;
}

.hero-section p {
    font-weight: bold;
    /* color: #222; */
    text-align: justify;
    text-shadow: 2px 2px 2px #000;
}

.hero-section .view-menu-btn {
    background-color: #EEE;
    color: #222;
    border-radius: 2rem;
    padding: 1rem 2rem;
}

.hero-section p {
    width: 30rem;
}

.explore-menu {
    width: 80%;

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 1rem;
}

.explore-menu main {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 1rem;
}

.explore-menu p {
    width: 60%;
    place-self: start;
    color: #555;
}

.explore-menu h2 {
    place-self: start;
    font-size: 2rem;
    color: #333;
}

.explore-menu div {
    border-radius: 100%;
}

.explore-menu img {
    border-radius: 100%;
    transition: 250ms;
    border: 3px solid #FFF;
}

.explore-menu img:hover {
    border: 3px solid #ff2600;
}

.explore-menu section {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}

.explore-menu main {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 1rem;
    color: #555;
}

.menu-page .main-menu {
    place-self: center;
}

.main-menu {
    width: 80%;

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 3rem;
}

.main-menu .buy {
    padding: 1rem 3rem;
    width: 60%;
    border-radius: 1rem;
    font-size: 1.5rem;
    border: 5px groove #c24010;
    background-image: linear-gradient(35deg, rgb(255, 68, 0), #ff511d);
    transition: 250ms;
}

.main-menu .buy:hover {
    filter: brightness(170%);
    box-shadow: 8px 8px 8px #555;
}

.main-menu .buy:active {
    scale: 0.95;
    box-shadow: none;
}

.main-menu main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-content: center;
    place-items: center;
    gap: 2rem;
}

.dish {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 1rem;
    box-shadow: 5px 5px 5px #AAA;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: 500ms;
    font-weight: bold;
}

/* .show-details {
    background-color: #CCC;
} */

.dish:hover {
    transform: scale(1.02);
}

.dish .img {
    position: relative;
}

.dish .img img {
    width: 18rem;
    height: 16rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.main-menu .adding-control {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 7rem;
    height: 3rem;
}

.main-menu .adding-control .AAA {
    background-color: white;
    padding: 0 5px;
    border-radius: 3rem;
    width: 100%;

    display: flex;
    place-content: space-between;
    place-items: center;
}

.adding-control input {
    padding: 1rem 0;
    border: none;
    outline: none;
    text-align: center;
}

.main-menu .dish .add,
.main-menu .adding-control button {
    padding: 0.5rem;
    font-size: 0.8rem;
    background-image: url("./assets/1/add_icon_white.png");
    background-position: center;
    background-size: cover;
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 100%;
}

.main-menu .dish .add {
    position: absolute;
    bottom: 5%;
    right: 5%;
    transition: 250ms;
}

.main-menu .adding-control .add-green {
    background-image: url("./assets/1/add_icon_green.png");
}

.main-menu .adding-control .remove,
.remove {
    background-image: url("./assets/1/remove_icon_red.png");

}

.main-menu .dish .add:hover,
.main-menu .dish .adding-control button {
    transform: scale(1.07);
}

.dish .price {
    color: white;
    background-color: rgb(0, 90, 0);
    padding: 0.8rem;
    font-size: 1.3rem;
    font-weight: bold;

    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.dish main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;

}

.dish main p {
    margin: 0;
    padding: 0;
}

.advertisement-section h2 {
    font-size: 3rem;
    text-align: center;
}

/* .advertisement-section .icon-container {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 1rem;
    background-color: black;
    border-radius: 1rem;
    color: white;
    padding: 5px 1rem;
} */

.advertisement-section section {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 4rem;
}

.advertisement-section section div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15rem;
    height: 5rem;
}

.advertisement-section section :first-child {
    background-image: url(./assets/1/app_store.png);
}

.advertisement-section section :last-child {
    background-image: url(./assets/1/play_store.png);
}

footer {
    background-color: #222;
    color: white;

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 5rem;
    margin-top: 5rem;
}

footer h2 {
    color: orangered;
    font-size: 2.8rem;
}

footer main {
    display: flex;
    place-content: center;
    place-items: start;
    gap: 2rem;
    padding: 4rem 0 0 0;
}

footer main .icons-container {
    display: flex;
    place-content: start;
    gap: 1rem;
}

footer main .icons-container .icon {
    background-position: center;
    background-size: cover;
    width: 3rem;
    aspect-ratio: 1;
}

footer main .icons-container img {
    border-radius: 100%;
    width: 3rem;
    aspect-ratio: 1;
}

footer main>section:not(:first-child) {
    width: 20%;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer main section:last-child {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

footer main>section:first-child {
    width: 35%;
}

footer section li {
    list-style-type: none;
}

footer section a {
    text-decoration: none;
    color: white;
}

footer h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

footer .line {
    width: 100%;
    background-color: white;
    height: 1px;
}

footer>section {
    width: 80%;

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}

form.register-info {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 1rem;

    box-shadow: 5px 5px 5px #333;
    z-index: 11;
}

form.register-info button {
    /* background-color: inherit; */
    /* border: none; */
}

form.register-info input {
    border-radius: 5px;
    padding: 10px;
    width: 20rem;
}

.submit-button {
    border-radius: 1rem;

    width: 20rem;
    padding: 1rem;
    color: white;
    background-color: #ff7300;
    font-weight: bold;
}

form.register-info div {
    display: flex;
    place-content: start;
    place-items: start;
    gap: 1rem;
    width: 90%;
}

form.register-info input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

form.register-info section button {
    color: #ff2600;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    background-color: inherit;
}

form.register-info section button:hover {
    filter: brightness(100%);
    color: #333;
    transform: scale(1);
}

.curtain {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #22222294;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.warning {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;

    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 2;
    padding: 15px;
    padding-bottom: 0;
}

.warning button {
    background-color: inherit;
    border: none;
}

.warning :nth-child(2) {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 1rem;
}

.warning :nth-child(2) div {
    background-color: orangered;
    width: 30px;
    aspect-ratio: 1;
    display: flex;
    place-content: center;
    place-items: center;
    border-radius: 100%;
}

.warning .orange-line {
    width: 100%;
    height: 4px;
    background-color: orangered;
}

.card-page,
.user-account-info-page,
.add-meal-page,
.menu-page {
    position: absolute;
    inset: 0 0 auto 0;
    width: 100%;
    height: 100%;
    background-color: white;

    /* box-shadow: 5px 5px 5px 5px #0000007c; */

    z-index: 10;
}

.user-account-info-page header,
.add-meal-page header,
.menu-page header {
    place-self: center;
}

.card-page>div {
    position: relative;

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 1rem;
}

.card-page header {
    /* width: 80%; */
    place-self: center;
    position: relative;
}

.card-page header .basket-icon {
    width: 2rem;
    height: 2rem;
}

.card-page .dish-info-card {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 3rem;

    width: 100%;
}

.dish img {
    object-fit: cover;
}

.card-page .dish-info-card .dish-info-card-show {
    padding: 1rem;
    width: 80%;
}

table tr:first-child td {
    font-weight: bold;
}

table td {
    padding: 0.5rem 0;
    border-bottom: 1px solid #999;
}

.card-page .dish-info-card .dish-info-card-show>div {
    padding: 1rem 0;
    border-bottom: 1px solid #DDD;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-page .dish-info-card .dish-info-card-show {
    padding: 1rem 0;
}

.card-page .dish-info-card div>p {
    color: #222;
    font-weight: bold;
}

.card-page .dish-info-card button {
    border: none;
    background-color: inherit;
}

.card-page .dish-info-card .dish-info img {
    width: 2rem;
    aspect-ratio: 1;
}

.card-page .dish-info-card .image {
    width: 6rem !important;
}

.dish-info-card-side-section {
    display: flex;
    place-content: space-between;
    place-items: center;
    width: 80%;
}

.cart-total {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 2rem;
}

.cart-total>div>div {
    display: flex;
    place-content: space-between;
    place-items: center;
    gap: 1rem;
}

.cart-total button {
    background-color: orangered !important;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 1rem 2rem;
    place-self: center;
}

.promo-code {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 2rem;
}

.promo-code input {
    width: 25rem;
    padding: 0.7rem;
    font-size: 1.2rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #EEE;
}

.promo-code p {
    font-size: 1.2rem;
    width: 20rem !important;
    place-self: start;
    font-weight: bold;
}

.promo-code button {
    background-color: #222 !important;
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: white;
    margin-left: -1rem;
}

.promo-code form {
    display: flex;
    place-content: center;
    place-items: center;
}

.loader {
    color: #333;
    font-size: 2rem;
    padding: 2rem;
}

.error {
    display: flex;
    place-content: center;
    place-items: center;
    padding: 2rem;

    font-size: 2rem;
}

.error p {
    margin-left: 10px;
    font-weight: bold;
    color: red;
    font-size: 1.5rem;
}


.search {
    height: 3rem;
    width: 30rem;
    padding: 3px 20px;
    font-size: 1rem;
    font-weight: bold;
    /* border: none; */
    border-bottom: 2px groove gray;
    border-radius: 1rem;

    outline: none;
    transition: all 0.3s;
}

.search:focus {
    outline: none;
    box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.explore-menu main {
    position: relative;
}

.search-icon {
    background-image: url(./assets/1/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 3rem;
    height: 3rem;

    filter: opacity(50%);

    position: absolute;
    bottom: -35%;
    right: -15px;
    transform: translate(-50%, -50%);
}

.detailed-info {
    display: flex;
    justify-content: space-between;

    font-weight: bold;

    width: 100%;

    /* position: relative; */
}

.name {
    place-self: center;
    font-size: 1.3rem;
    text-shadow: 1px 1px 1px #6e1000d0;
    color: #ff2600;
}

.details {
    font-weight: bold;
    background-color: #222;
    cursor: pointer;
    transition: 250ms;
    box-shadow: 5px 5px 5px #555;

    border: none;
    color: white;
    padding: 0.5rem;
}

.details:hover {
    /* scale: 0.9; */
    box-shadow: 5px 5px 5px white;
}

.more-details table tr:nth-child(odd) {
    background-color: rgb(236, 99, 48);
    color: white;
}

.more-details table tr:nth-child(even) {
    background-color: rgb(255, 116, 65);
    color: #111;
}

.more-details table tr> :first-child {
    font-weight: bold;
    text-decoration: underline;
}

.more-details table td {
    padding: 5px;
}

.buy {
    background: orangered;
    color: white;
    border: none;
}

.lighter {
    font-weight: lighter;
}

.review-count {
    width: 3rem;
    color: #333;
}

.add-rating-text {
    color: #9b6f00;
    text-decoration: underline;
    cursor: pointer;
}

.star-rating-text {
    line-height: 1;
    margin: 0;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    right: -30%;
}

.error-msg {
    color: red;
    width: 80%;
    margin: 0;
}

.error-list {
    display: flex;
    flex-direction: column;
    /* place-content: center;
    place-items: center; */
}

.close-button {
    border: none;
    background-color: inherit;
    transition: 250ms;
    border-radius: 100%;
}

.close-button:hover {
    scale: 1.1;
    background-color: orangered;
    color: white;
    border-radius: 100%;
}

button:disabled {
    background-color: #111 !important;
    color: white !important;
}

.active-link {
    color: #333 !important;
}

.add-meal-page {
    position: relative;
}

.add-meal-page .flex {
    display: flex;
    place-content: start;
    place-items: start;
    gap: 5rem;
}

.add-meal-page nav {
    width: 30rem;
    height: 100%;
    padding: 3rem 0;
    background-color: wheat;

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}

.add-meal-page header {
    border-bottom: 4px solid #ff3c00;
}

.add-meal-page nav ul {
    width: 100%;
}

.add-meal-page nav li {
    list-style-type: none;
    padding: 1.5rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: underline;
    color: #333;
    border-bottom: 1px solid #555;
    width: 80%;
    transition: 250ms;

    display: flex;
    place-content: space-between;
    place-items: center;
}

.add-meal-page nav li:hover {
    background-color: #fff1d7;
}

.add-meal-page nav .image-place {
    width: 2rem;
    aspect-ratio: 1;
    background-color: #3333337a;
}

.add-meal-page nav button {
    background-color: inherit;
    border: none;
}

.add-meal-page main {
    position: relative;
}

.add-meal-page main form {
    padding-top: 3rem;
    /* position: absolute; */
    /* top: 90%; */
    /* left: 30%; */

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: start;
    gap: 2rem;
    /* transform: translate(-50%, -50%);/ */
}

.add-meal-page main form section {
    display: flex;
    gap: 2rem;
    place-self: start;
}

.add-meal-page input {
    height: 1.5rem;
}

.add-meal-page textarea {
    width: 25rem;
}

.add-meal-page textarea {
    height: 10rem;
}

.add-meal-page form div {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: start;
}

.add-meal-page form .flex-row {
    display: flex;
    flex-direction: row;
    place-content: space-between;
    place-items: center;

    width: 100%;
}

.add-meal-page .select {
    width: 15rem;
}

.add-meal-page input[type="image"] {
    width: 5rem;
    height: 5rem;
    place-self: start;
}

.add-meal-page form .flex-row div {

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 1rem;
}

.add-meal-page form .add-ingredient-button {
    border-radius: 2rem;
    background-color: #c24010;
    padding: 1rem;
    width: 15%;
}

.add-meal-page form .ingredient-input {
    width: 70%;
    border-radius: 1rem;
    padding: 5px 5px 5px 2rem;
}

.add-meal-page form .list {
    width: 100%;
    margin-top: -2rem;
}

.add-meal-page form .remove {
    width: 1.4rem;
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
    filter: brightness(120%);
    border: none;
    padding: 0;
    background-color: inherit;
}

.add-meal-page form .list ol {
    place-self: start;
    width: 100%;
}

.add-meal-page form .date {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.add-meal-page .date input {
    margin: 0 1rem;
}

.add-meal-page label {
    font-weight: bold;
}

.add-meal-page form .ingredient-container {
    padding: 5px;
    border-bottom: 1px solid #888;
    transition: 250ms;

    width: 100%;

    display: flex;
    flex-direction: row;
    place-content: space-between;
    place-items: center;
}

.add-meal-page form .ingredient-container:hover {
    background-color: wheat;
    cursor: pointer;
}

.add-meal-page form button {
    width: 8rem;
    padding: 1rem 0.5rem;
    place-self: start;
    background-color: #222;
    color: white;
    border: none;
}

.add-meal-page .price-displayer {
    color: green;
    border-radius: 1rem;
    font-weight: bold;
}